app:
  name: SinguGPT
  user-data-file: ./users.yml
  access-methods:
    - email
openai:
  -
    id: <Instance ID>
    org-id: <OpenAI Org ID>
    apikey: <OpenAI API Key>
    models:
      - gpt3.5
    commands:
      - ChatGPT
      - GPT3.5
      - GPT3_5
      - GPT3-5
email:
  smtp:
    host: <SMTP Host>
    port: <SMTP Port>
    username: <SMTP UserName>
    password: <SMTP Password>
  imap:
    host: <IMAP Host>
    port: <IMAP Port>
    username: <IMAP UserName>
    password: <IMAP Password>